<div class="well">
  <form name="newMessage" ng-submit="create(newMessage)" validate>

    <div class="form-group">
      <label for="to">To</label>
      <input
        type="text"
        ng-model="newMessage.to"
        class="form-control"
        placeholder="Enter a user's GitHub username"
        required>
    </div>

    <div class="form-group">
      <label for="title">Subject</label>
      <input
        type="text"
        ng-model="newMessage.title"
        class="form-control"
        placeholder="Give a title to your private message"
        required>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        ng-model="newMessage.message"
        class="form-control"
        rows="10"
        placeholder="Enter your message here to the user"
        required>
      </textarea>
    </div>

    <button class="btn btn-danger" type="submit">Send</button>

  </form>
</div>
