<!-- <div class="row">
  <h1 class="pull-left">Inbox</h1><span>same line?</span>
</div> -->

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">New</a></li>
  <li role="presentation"><a href="#">Starred</a></li>
  <li role="presentation"><a href="#">All</a></li>
</ul>


<!-- 
<nav class="navbar navbar-default">
  <label class="navbar-brand">Inbox</label>
</nav>
 -->


<br>
<div class="panel panel-default">
  <p class="panel-body" ng-if="messages.length === 0">You have no messages in your inbox.</p>
  <table ng-if="messages.length > 0" class="table table-striped inbox-display">

    <tr>
      <th class="inbox-from">From</th>
      <th class="inbox-flags">Flags</th>
      <th class="inbox-subject">Subject</th>
      <th class="inbox-preview">Message</th>
    </tr>

    <tr ng-repeat="message in messages">

      <td class="inbox-from" ng-click="show(message)">
        {{message.from}}
      </td>

      <td class="inbox-flags">
        <span
          ng-class="message.starred ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"
          aria-hidden="true"
          ng-click="star(message)">
        </span>

        <span
          ng-if="!message.read"
          class="label label-danger">
          New
        </span>
      </td>

      <td class="inbox-subject" ng-click="show(message)">
        {{message.title}}
      </td>

      <td class="inbox-preview" ng-click="show(message)">
        {{message.content}}
      </td>

    </tr>

  </table>
</div>
