<div
  ng-repeat="message in messages"
  ng-hide="$state.includes('messages.message') || $state.includes('messages.compose')">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a
          ui-sref="messages.message({id: message._id})"
          ng-click="show(message)">
          {{message.title}}
        </a>

        <span
          ng-if="!message.read"
          class="label label-danger">
          New
        </span>
        
        <span
          ng-if="!message.starred"
          class="pull-right glyphicon glyphicon-star-empty"
          aria-hidden="true"
          ng-click="star(message)">
        </span>

        <span
          ng-if="message.starred"
          class="pull-right glyphicon glyphicon-star"
          aria-hidden="true"
          ng-click="star(message)">
        </span>

      </h3>
    </div>
    <div ng-bind-html="message.content.substr(0,100)" class="panel-body"></div>
  </div>
</div>

<div ui-view></div>
