<h1>Sent Messages</h1>
<br>
<div class="panel panel-default">
  <p class="panel-body" ng-if="sentMessages.length === 0">You haven't sent any messages yet.</p>
  <table ng-if="sentMessages.length > 0" class="table table-striped inbox-display">

    <tr>
      <th class="inbox-from">From</th>
      <th class="inbox-flags">Flags</th>
      <th class="inbox-subject">Subject</th>
      <th class="inbox-preview">Message</th>
    </tr>

    <tr ng-repeat="message in sentMessages">

      <td class="inbox-from" ng-click="show(message)">
        {{message.to}}
      </td>

      <td class="inbox-flags">
        <!-- Users are currently unable to star sent messages by design. -->
      </td>

      <td class="inbox-subject" ng-click="show(message)">
        {{message.title}}
      </td>

      <td class="inbox-preview" ng-click="show(message)">
        {{message.content}}
      </td>

    </tr>
    
  </table>
</div>
