<div class="panel panel-default">
  <p class="panel-body" ng-if="starCount === 0">You have no starred messages.</p>
  <table ng-if="starCount > 0" class="table table-striped inbox-display">

    <tr>
      <th class="inbox-from">From</th>
      <th class="inbox-flags">Flags</th>
      <th class="inbox-subject">Subject</th>
      <th class="inbox-preview">Message</th>
    </tr>

    <tr ng-repeat="message in messages">
      
      <td class="inbox-from" ng-click="show(message)">
        {{message.from}}
      </td>

      <td class="inbox-flags">
        <span
          ng-class="message.starred ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"
          aria-hidden="true"
          ng-click="star(message)">
        </span>

        <span
          ng-if="!message.read"
          class="label label-danger">
          New
        </span>
      </td>

      <td class="inbox-subject" ng-click="show(message)">
        {{message.title}}
      </td>

      <td class="inbox-preview" ng-click="show(message)">
        {{message.content}}
      </td>

    </tr>

  </table>
</div>
