<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>GitLinked</h1>
    <p class="lead">A social network by Developers, for Developers.</p>
    <div>
      <div>
      <a  ng-hide="isLoggedIn()" class="btn btn-github" style='background-color:black;'href="" ng-click="loginOauth('github')">
        <i class="fa fa-5x fa-github"></i> Connect with Github
      </a>
      <a ng-hide="isLoggedIn()" class="btn btn-linkedin" style='background-color:black;'href="" ng-click="loginOauth('linkedin')">
		    <i class="fa fa-5x fa-linkedin"></i> Connect with LinkedIn
      </a>
    </div>
    </div>
  </div>
</header>
