<ul class="nav nav-tabs">

  <li
    role="presentation"
    ng-class="{active: isActive('new')}"
    ng-click="filterInbox('read')">
    <a href="#new">
      New
      <span class="badge pad-left">{{newCount}}</span>
    </a>
  </li>

  <li
    role="presentation"
    ng-class="{active: isActive('starred')}"
    ng-click="filterInbox('starred')">
    <a href="#starred">
      Starred
      <span class="badge pad-left">{{starCount}}</span>
    </a>
  </li>

  <li
    role="presentation"
    ng-class="{active: isActive('all')}"
    ng-click="filterInbox()">
    <a href="#all">
      All
      <span class="badge pad-left">{{messages.length}}</span>
    </a>
  </li>

</ul>
