<div class="list-group">

  <a
    ui-sref="messages.inbox"
    class="ng-class: {active: isActive('/messages/inbox')}; list-group-item">
    <i class="glyphicon glyphicon-inbox pad-right" aria-hidden="true"></i>
    Inbox
    <span class="badge pad-left">{{newCount}}</span>
  </a>

  <a
    ui-sref="messages.sent"
    class="ng-class: {active: isActive('/messages/sent')}; list-group-item">
    <i class="glyphicon glyphicon-folder-open pad-right" aria-hidden="true"></i>
    Sent
  </a>

  <a
    ng-href="#{{location.hash()}}"
    ng-click="sendMessageModal()"
    class="ng-class: {active: isActive('/messages/compose')}; list-group-item">
    <i class="glyphicon glyphicon-envelope pad-right" aria-hidden="true"></i>
    Compose
  </a>

</div>
