<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  
  <div class="row-fluid">
    
    <!-- Left starts -->
    <div class="col-md-3" id="left">
      <ul class="list-group">
        <li class="list-group-item">
          <img id="profilePic" ng-src="{{userProfile.github.avatar_url}}">
        </li>

        <li class="list-group-item">
          <h4>{{'@'+userProfile.github.login}}</h4>
        </li>

        <li class="list-group-item">
          <div class="btn-group" id="threeButtons" role="group" aria-label="...">
            <button type="button" class='btn btn-default' ng-click='sendMessageTo(userProfile);'>Message</button>
            <button type="button" class="btn btn-default">Follow</button>
            <button type="button" class="btn btn-default">
              <a href="{{userProfile.github.blog}}">Website</a>
            </button>
          </div>
        </li>
        <li class="list-group-item">Followers: {{userProfile.github.followers}}</li>
        <li class="list-group-item">Following: {{userProfile.github.following}}</li>
        <li class="list-group-item">
          <img src="http://www.fanofyan.com/Images/InBug-60px-R.png"/>
          <br>
          <table>
            <tr>
              <td width="30%">Title: </td>
              <td>Software Engineer at Hack Reactor</td>
            </tr>
            <tr>
              <td>Current: </td>
              <td>Hack Reactor, Primwest</td>
            </tr>
            <tr>
              <td>Previous: </td>
              <td>Architectural Association, J.P. Morgan, Schlumberger</td>
            </tr>
            <tr>
              <td>Education: </td>
              <td>Architectural Association School of Architecture</td>
            </tr>
            <tr>
              <td>Languages: </td>
              <td>English<br>
                  French<br>
                  Spanish<br>
                  Italian<br></td>
            </tr>
            <tr>
              <td>Connections: </td>
              <td>412</td>
            </tr>
          </table>
        </li>
        <li class="list-group-item">Hireable: 
          <span>
              {{userProfile.github.hireable ? 'Yes' : 'No'}}
          </span>
        </li>

      </ul>

      <!-- Skills start -->
      <div class="panel panel-default">

        <div class="panel"><h4>Skills</h4></div>
        <div class="panel-body">

          <!-- <h3 ng-show="hasSkills()" class="page-header">Skills</h3> -->

          <button ng-show="isLoggedInAsCurrentUser()" class="btn btn-default" ng-click="showAddSkillsForm()">Add a Skill</button>
          <!--TODO: fix this behavior when user is not logged in -->
          <h4 ng-show="!hasSkills() && isLoggedInAsCurrentUser" class="page-header">No skills yet</h4>
          <h4 ng-show="!hasSkills() && !isLoggedInAsCurrentUser" class="page-header">No skills yet</h4>

          <form ng-show="showFormToAddSkills" class="form" name="form" ng-submit="addASkill(form)" novalidate>
            <div class="form-group">
              <label>Name of Skill</label>
              <input type="text" name="skillname" ng-model="skillname" class="form-control" required>
            </div>

            <div class="form-group">
              <label>Github Link Demonstrating Your Skill</label>
              <input type="url" name="githublink" ng-model="githublink" class="form-control" required>
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.skillname.$error.required && form.githublink.$error.required && submitted">Please enter a skill and a link to Github that shows it off.</p>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-login" type="submit">Add Skill</button>
            </div>
          </form>

          <ul class="nav nav-tabs nav-stacked col-md-4 col-xs-4 col-sm-6" ng-repeat="skill in userProfile.skills">
            <li>
              <a target="_blank" ng-href="{{skill.githublink}}">{{skill.skillname}}</a>
            </li>
          </ul>

        </div>
      </div>
      <!-- Skills end -->

     </div>
    <!-- Left ends -->

    <!-- Middle starts -->
    <div class="col-md-6" id="middle">
      <!-- start panel -->
      <div class="panel panel-default">
        <div class="panel"><h4>Languages</h4></div>
        <div class="panel-body">
          <div id='chart'></div>
        </div>
      </div>
      <!-- end panel -->

      <!-- start panel -->
      <div class="panel panel-default">
        <div class="panel"><h4>Top 10 Most Starred Repositories</h4></div>
        <div class="panel-body">
          <div id='reposChart'></div>
        </div>
      </div>
      <!-- end panel -->

    </div>
    <!-- Middle ends -->

    <!-- Right starts -->
    <div class="col-md-3" id="right">
      <!-- Repos start -->
      <div class="panel panel-default">
        
        <div><h4>Public Repositories</h4></div>
        <ul class="list-group">
          <!-- Organise repo list by size -->
          <li class="list-group-item" ng-repeat="repo in userProfile.github.repos | orderBy:repos">
            <a href="{{repo.html_url}}">{{repo.name}}</a>
          </li>
        </ul>
      </div>
      <!-- Repos ends -->
    </div>
    <!-- Right ends -->

  </div>
  <!-- End of row -->
</div>
<!-- End of container -->

<footer class="footer"></footer>
